In [1]:
import pandas as pd
import numpy as np

In [2]:
weather = pd.read_excel('weatherAUS_EXCEL.xlsx')

In [3]:
weather.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,2019-04-13 00:00:00,2019-09-22 00:00:00,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,2019-09-16 00:00:00,2019-08-21 00:00:00,No,0,No
1,2008-12-02,Albury,2019-04-07 00:00:00,2019-01-25 00:00:00,0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,2019-02-17 00:00:00,2019-03-24 00:00:00,No,0,No
2,2008-12-03,Albury,2019-09-12 00:00:00,2019-07-25 00:00:00,0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21,2019-02-23 00:00:00,No,0,No
3,2008-12-04,Albury,2019-02-09 00:00:00,28,0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,2019-01-18 00:00:00,2019-05-26 00:00:00,No,1,No
4,2008-12-05,Albury,2019-05-17 00:00:00,32.3,1,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,2019-08-17 00:00:00,2019-07-29 00:00:00,No,0.2,No